.clients {
  padding: 60px 0;

  &__title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;

    font-size: 28px;
    line-height: 1.17;
    color: $heading-text-color;
  }

  &__link {
    display: flex;
    width: 210px;
    height: 90px;
    fill: $main-text-color;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-clients;
    border-radius: 4px;

    @include transition($property: border fill);
    // transition-property: border, fill;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      transform: border, fill;

      border: 1px solid $blue-color;
      fill: $blue-color;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 480px;
    padding: 0;
  }

  &__item {
    width: calc((100%-30px) / 2);
  }
}

// &__list {
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
//   width: 100%;
// }

// &__item {
//   margin-bottom: 30px;

//   &:nth-child(2n + 1) {
//     margin-right: 30px;
//   }

//   &:nth-last-child(-n + 2) {
//     margin-bottom: 0;
//   }
// }

// @media screen and (min-width: 480px) {
//   &__list {
//     min-width: 480px;
//   }
// }

// &__item:not(:last-child) {
//   margin-bottom: 30px;
// }

// .clients {
//   padding: 94px 0;

//   &__title {
//     margin: 0 0 50px;
//     text-align: center;
//     font-weight: 700px;
//     font-size: 36px;
//     line-height: 1.2;
//   }

// .clients__link {
//   width: 170px;
//
// }
// .clients__item:not(:last-child) {
//   margin-right: 30px;
// }
