.our-work {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding-bottom: 94px;

    &__list {
      display: flex;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    &__item:not(:last-child) {
      margin-right: 30px;
    }

    &__title {
      text-align: center;

      margin-top: 0;
      margin-bottom: 59px;
      color: $heading-text-color;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.2;
      letter-spacing: 0.03em;
    }
  }
}

.team__title {
  text-align: center;
  color: $heading-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.works {
  position: relative;

  &__image {
    display: block;
  }

  &-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    background-color: $background-our-works;
    position: absolute;
    bottom: 0;
    left: 0;

    margin: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
  }
}
