.advantage {
  padding-bottom: 94px;
  padding-top: 94px;

  &__item:not(:last-child) {
    margin-right: 72px;
  }

  &__list {
    display: flex;

    margin: 0;
    padding-left: 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    color: $heading-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &__title::before {
    content: "";
    display: block;
    height: 120px;
    background-color: $background-advantages;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }

  &__text {
    margin: 0;
    font-weight: 400;
    color: $main-text-color;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

.icon-antenna::before {
  background-image: url(../images-optimized/antenna1.svg);
}

.icon-clock::before {
  background-image: url(../images-optimized/clock1.svg);
}

.icon-diagram::before {
  background-image: url(../images-optimized/diagram1.svg);
}

.icon-astronaut::before {
  background-image: url(../images-optimized/astronaut1.svg);
}
