.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;

  &__adress {
    margin-bottom: 9px;
    color: $white-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
  }

  &-subscribe__title {
    line-height: 1.14;
    font-weight: 700px;
  }

  &-links__text {
    margin: 0 0 20px;
    padding: 0;
    text-transform: uppercase;
    color: $white-color;
    font-weight: 700px;
    font-size: 14px;
    line-height: 1.14;
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 60px;
  }

  &__list {
    padding-left: 0;
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    &-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    &-contacts {
      margin-right: 165px;
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 60px 0;

    &-contacts {
      display: inline;
      text-align: left;
      margin-right: 70px;
    }

    &-container {
      flex-wrap: nowrap;

      // justify-content: center;
    }
  }
}

.mail {
  margin-bottom: 8px;
}

.mail,
.phone {
  display: block;

  color: $footer-contacts-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
