.footer-subscribe {
  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;

    text-transform: uppercase;
    color: $white-color;
    font-weight: 700px;
    font-size: 14px;
    line-height: 1.1;
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__email {
    width: 100%;
    max-width: 480px;
    margin-bottom: 20px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: inherit;
    color: $footer-contacts-color;
    border-radius: 4px;
    padding: 15px;
  }

  &__label {
    width: 100%;
  }

  &__label::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $footer-contacts-color;
  }
}

.button-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: $blue-color;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  right: -100%;
  background-color: $blue-color;

  &__text {
    color: $white-color;
    font-weight: 700;
    font-size: 16px;

    letter-spacing: 0.06em;
    line-height: 1.8;
    margin-right: 10px;
  }
}

// .subscribe-form {
//
//   &__email {
//     width: 358px;
//     height: 50px
//     margin-right: 12px;
//   }
// }

// .footer-subscribe {
//
//   // margin-left: 93px;

//   &__title {
//     margin-bottom: 20px;
//     margin-top: 0;
//     padding: 0;
//   }
// }

// }
