.grid {
  padding: 0 0 60px;

  &__list {
    margin-right: -30px;
    margin-bottom: -30px;
    padding: 0;

    @media screen and (min-width: 768px) {
      & {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  &__title {
    margin-top: 20px;
    margin-bottom: 4px;
    padding-left: 23px;

    color: $heading-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__category {
    padding-left: 23px;

    color: $main-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
  }

  &__item {
    padding: 0 0 20px;
    margin-bottom: 30px;
    margin-right: 30px;

    outline: 1px solid $border-card;
    @include transition($property: box-sizing box-shadow);

    &:focus,
    &:hover {
      transform: box-sizing, box-shadow;

      cursor: pointer;
      box-sizing: border-box;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      padding-bottom: 94px;
    }

    &__item {
      flex-basis: calc(100% / 3-30px);
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
